apiVersion: v1
kind: Service
metadata:
  name: node-app-service
  namespace: default
spec:
  selector:
    app: node-app
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
